{% extends "base.html" %}
{% block sidebar %}
{% load static %}
{% load staticfiles %}
<link type="text/css" rel="stylesheet" href="{% static 'css/blog.css' %}"  media="screen,projection"/>
<style type="text/css">
    #sidebar { float: right; border: 1px dotted #ccc; padding: 4px; }
    a { margin-left: 15px; }

</style>
<div id="sidebar">
    Monthly Archive
    <p>
        {% for month in months %}
        {% ifchanged month.0 %} {{ month.0 }} <br /> {% endifchanged %}

        {% endfor %}
    </p>
</div>
{% endblock %}

{% block content %}
{% for post in post_list %}
<div class="dentro" id="pri">
    <h3>{{ post.title }}</h3>
    <div class="txtdentro">
        <h4>{{ post.body }}</h4>
    </div>
    <div class="img">
        <a target="_blank" href="4.jpg">
            <img src="{% static 'img/imagen'%}{{post.id}}.png" width="200" height="100">
        </a>
    </div>
    <a href="{% url 'index:post' post.id %}" class="btnmove" style="vertical-align:middle"><span>See it </span></a>
</div>
{% endfor %}

<!-- Next/Prev page links  -->
{% if not archive and posts.object_list and posts.paginator.num_pages > 1 %}
<div class="pagination">
    <span class="step-links">
        {% if posts.has_previous %}
        <a href= "?page={{ posts.previous_page_number }}">Entradas mas nuevas &lt;&lt; </a>
        {% endif %}

        <span class="current">
            &nbsp;Pagina {{ posts.number }} de {{ posts.paginator.num_pages }}
        </span>

        {% if posts.has_next %}
        <a href="?page={{ posts.next_page_number }}"> &gt;&gt; Post mas viejitos</a>
        {% endif %}
    </span>
</div>
{% endif %}



{% endblock %}



